.container-drag {
    display: inline-block;
    margin: 0 auto;
    text-align:center;
}

.wip {
    padding: 0 20px;
    height: 25%;
    border-right: 1px dotted;
    background-color: white;
}

.droppable{
    position: absolute;
    width: 150px;
    height: 100vh;
    right: 0;
    top: 10px;
    border-left: 1px dotted;
}

.task-header {
    display: inline-block;
    background-color: #ffc107;
    width: 100%;
    box-shadow: #888 0px 2px 4px;
}

.chestTitle {
    font-size: 18px !important;
    color: rgba(0, 0, 0, 0.78) !important;
    font-weight: bold !important;
}

.chest-containers {
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
}

.four-container{
    margin-bottom: 1%;
    float: left;
    position: relative;
    height: 350px;
    width: 23%;
}

.three-container{
    margin-bottom: 1%;
    float: left;
    position: relative;
    height: 350px;
    width: 32%;
}

.dashTitle {
    flex-grow: 1;
    text-align: left;
}

.semanticHeader {
    margin: 3% auto 2% auto !important;
}