.container-drag {
    text-align:center;
}

.wip {
    position: absolute;
    width: 100%;
    height: 25%;
    top: 10px;
    background-color: #EEEEEE;
    border-right: 1px dotted;
    z-index: -1;
}

.header{
    display: inline-block;
    padding: 0;
    background-color: #E0E0E0;
    width: 100%;
    z-index: 1;
}

.droppable{
    position: absolute;
    width: 150px;
    height: 100vh;
    right: 0;
    top: 10px;
    background-color: #9E9E9E;
    border-left: 1px dotted;
}

.task-header {
    display: inline-block;
    background-color: #ffc107;
    width: 100%;
    box-shadow: #888 0px 2px 4px;
}

.chest-containers {
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
}

.four-container{
    float: left;
    position: relative;
    height: 350px;
    width: 25%;
    background-color: #9E9E9E;
    border-left: 1px dotted;
}

.three-container{
    float: left;
    position: relative;
    height: 350px;
    width: 33.33%;
    background-color: #9E9E9E;
    border-left: 1px dotted;
}