body {
    padding-top: 50px;
    background-color: #eee;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.result {
    font-size: 30px;
}

.reset {
    font-style: italic;
    letter-spacing: 2px;
    cursor: pointer;
}

.reset:hover {
    text-decoration: underline;
}

button,
input {
    padding: 7.5px;
    font-size: 16px;
    color: #000;
    text-align: center;
    border: 0;
    border-radius: 2px;
    background: #eee;
}

button:focus,
input:focus {
    outline: 0;
}

button {
    min-width: 10px;
    cursor: pointer;
}

button + button {
    margin-left: 5px;
}

button:hover,
input:hover {
    background: #fff;
}

a {
    color: #000;
}

.counter {
    color: #000;
}

.category {
    margin: 2% auto;
    width: 40%;
    text-align: left;
}

.categoryTitle {
    font-size: 18px !important;
    color: rgba(0, 0, 0, 0.78) !important;
}

.categorySubtitle {
    font-size: 14px !important;
    color: rgba(0, 0, 0, 0.54) !important;
}

.sliderName{
    margin-top: 5% !important;
    font-size: 18px !important;
}

.result{
    font-size: 22px !important;
    text-align: center;
}

.distButton {
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto !important;
}

.sliderContainer{
    display: flex;
    justify-content: space-around;
}

.category {
    width: 60%;
}