@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');

.weekLink:hover {
    text-decoration: none;
}

.weekButton[disabled] span{
    color: #eeeeee !important;
}


.weekButton span{
    color: white !important;
    font-size: 16px !important;
}

#signout-button {
    /* float: right; */
    position: absolute;
    color: #ffffff;
    top: 2%;
    right: 2%;
}

body {
    background-image: url("./map.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
    height: 100vh;
}

.wrapper {
    height: 100%;
    width: 100%;
}

.background {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.message {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 45%;
    bottom: 0;
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 0.5em;
}

.dashHeader {
    color: #fff;
    font-size: 100px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    margin-bottom: 0;
    margin-top: -5rem;
}

.dd-button {
    margin: 0 auto;
}

#embark-button {
    color: #ffffff;
    font-size: 24px;
}

.buttonContainer {
    margin-top: 1rem;
}

.first-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}