.App {
  text-align: center;
}

.container-drag {
  text-align: center;
}

.wip {
  position: absolute;
  height: 500px;
  width: 100%;
  top: 0;
  background-color: #EEEEEE;
  border-right: 1px dotted;
}

.header{
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: #E0E0E0;
  width: 100%;
}

.task-header{
  display: inline-block;
  background-color: skyblue;
  width: 100%;
}

.chest-containers {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
}

.harish-container {
  float: left;
  position: relative;
  height: 300px;
  width: 33%;
  background-color: #9E9E9E;
  border-left: 1px dotted;
}

.isabelle-container{
  float: left;
  position: relative;
  height: 300px;
  width: 33%;
  background-color: #9E9E9E;
  border-left: 1px dotted;
}

.andrew-container{
  float: left;
  position: relative;
  height: 300px;
  width: 33%;
  background-color: #9E9E9E;
  border-left: 1px dotted;
}

.draggable{
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: yellow;
  margin: 5px auto;
  line-height: 5em;
}