body {
  background-color: #eee;
  text-align: center;
  font-family: 'Open Sans', sans-serif;  
}
.result {
  font-size: 30px;
}
.reset {
  font-style: italic;
  letter-spacing: 2px;
  cursor: pointer;
}
.reset:hover {
  text-decoration: underline;
}
button,
input {
  padding: 7.5px;  
  font-size: 16px;
  color: #000;
  text-align: center;
  border: 0;
  border-radius: 2px;
  background:#eee;
}
button:focus,
input:focus {
  outline:0;
}
button {
    min-width: 10px;
    cursor: pointer;
}
button + button {  
  margin-left: 5px;
}
button:hover,
input:hover{
    background: #fff;
}
a {
  color: #000;
}

.counter {
  color: #000;
}
.category {
  margin-bottom: 50px;
}

.category h1 {
  text-transform: lowercase;
  font-style: italic;
  font-size: 30px;
  font-weight: normal;
  letter-spacing: 2px;
}

.star {
  position: relative;
  font-family: Open Sans, sans-serif;
  font-style: Regular;
  font-size: 30px;
  line-height: 41px;
  fill: Solid;
  color: #545151;
}

.nextNav {
    position: fixed;
    bottom: 4%;
    right: 2%;
}
.nextNav:hover {
    text-decoration: none;
}

.backNav {
    position: fixed;
    bottom: 4%;
    left: 2%;
}
.backNav:hover {
    text-decoration: none;
}

.pageInstructions {
    width: 80%;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.25);
    margin: 1% auto 1% auto !important;
}

.pageInstructions h2 {
    color: white !important;
    font-weight: bold !important;
}

.headerText {
    font-weight: bold !important;
}

@import url(https://fonts.googleapis.com/css?family=Francois+One);
@import url(https://fonts.googleapis.com/css?family=PT+Sans);