.App {
  text-align: center;
}

.container-drag {
  text-align:center;
}

.wip {
  position: absolute;
  height: 150px;
  width: 100%;
  top: 0;
  background-color: #EEEEEE;
  border-right: 1px dotted;
}

.header{
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: #E0E0E0;
  width: 100%;
}

.task-header{
  display: inline-block;
  background-color: skyblue;
  width: 100%
}

.chest-container{

}

.harish-container{
  position: absolute;
  height: 150px;
  width: 33%;
  bottom: 0;
  left: 10;
  margin-left: 400px;
  background-color: #9E9E9E;
  border-left: 1px dotted;
}

.isabelle-container{
  position: absolute;
  height: 150px;
  width: 33%;
  bottom: 0;
  left: 10;
  margin-left: 800px;
  background-color: #9E9E9E;
  border-left: 1px dotted;
}

.andrew-container{
  position: absolute;
  height: 150px;
  width: 33%;
  bottom: 0;
  left: 10;
  background-color: #9E9E9E;
  border-left: 1px dotted;
}

.draggable{
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: yellow;
  margin: 5px auto;
  line-height: 5em;
}